.homepage {
background-image: url(https://img.freepik.com/free-photo/tasty-pizza-near-ingredients_23-2147772080.jpg);
background-repeat: no-repeat;
background-size: cover;
border-radius: 15px;

padding: 30px;
font-family: 'Poppins'
  
}
  .welcome-section { 
    color: white;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .featured-items, .promotions {
    margin-bottom: 30px;
    text-align: center;
  }
  
  .menu-items, .promotion-items {
    display: flex;
    gap: 20px;    
    justify-content: center;
  }
  
  .menu-item, .promotion-item {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    background-color: #dadfe1;
  }
  
  .menu-item h3, .promotion-item h3 {
    margin-top: 0;
  }
  
  .menu-item span {
    color: #ff6347;
    font-weight: bold;
  }

  .homepage h2{
    
    color: white;
  }